#fondo{
    background-image: url("img/Apex-Legend.jpg");
    background-repeat: no-repeat;
    background-size: 960px;
    background-position: center;
    width: 960px;
    height: 400px;
    text-align:center;
}
#video{
    width: 450px;
    height: 250px;
}
#general{
    position: absolute;
    text-align: justify;
    left: 24%;
    width: 960px;
}
#video2{
    display: inline;
    float: right;
}
#path{
    background-image: url("img/pathfinder.png");
    background-size: 500px;
    background-repeat: no-repeat;
    float: left;
    width: 560px;
    height: 700px;
}
#wraith{
    background-image: url("img/wraith.png");
    background-size: 500px;
    background-repeat: no-repeat;
    float: right;
    width: 460px;
    height: 700px;
}
#paginas{
    background-color: red;
    width: auto;
    height:30px;
    color: white;
}
#armas{
background-color:red;
width:70px;
display:block;
}
#titul{
color: white;
font-size: 80px;
}
#historia{
background-color:red;
position: relative;
height: 20px;
width:70px;
display:block;
}
.interior{display: none;}
input:checked ~ ul{display:block;}
.li{
background-color:black;
}