#fondo{
    background-image: url("img/Apex-Legend.jpg");
    background-repeat: no-repeat;
    background-size: 960px;
    background-position: center;
    width: 960px;
    height: 400px;
    text-align:center;
}
#general{
    position: absolute;
    text-align: justify;
    left: 24%;
    width: 960px;
}
#blood{
    background-image: url("img/Bloodhound.png");
    background-size: 500px;
    background-repeat: no-repeat;
    float: left;
    width: 560px;
    height: 700px;
}
#caustic{
    background-image: url("img/Caustic.png");
    background-size: 500px;
    background-repeat: no-repeat;
    float: right;
    width: 460px;
    height: 700px;
}
#paginas{
    background-color: red;
    width: auto;
    height:30px;
    color: white;
}
#armas{
padding-left: 20px;
padding-top: 5px;
}
#titul{
color: white;
font-size: 80px;
}